@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* default font names === 'Courier New', Courier, monospace; */

@layer components {
    .font-DancingScript {
        font-family: 'Dancing Script', cursive;
    }
    .font-NotoSansJapanses{
        font-family: 'Noto Sans JP', sans-serif;
    }
    .transition-75 {
        transition: all .75s;
    }

    .navBinaryAnime {
        animation: navBinaryAnime 1s infinite alternate-reverse;
    }

    @keyframes navBinaryAnime {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(0, 2px);
        }
    }
}