@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
/* default font names === 'Courier New', Courier, monospace; */

@layer components {
    .font-pacifico {
        font-family: "Pacifico", 'Courier New', Courier, monospace;
    }
    .font-teko {
        font-family: "Teko", 'Courier New', Courier, monospace;
    }
    .font-openSans {
        font-family: "Open Sans", 'Courier New', Courier, monospace;
    }
    .transition-75 {
        transition: all .75s;
    }

    .navBinaryAnime {
        animation: navBinaryAnime 1s infinite alternate-reverse;
    }

    @keyframes navBinaryAnime {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(0, 2px);
        }
    }
}